.mainDiv {
  margin: 50px 100px;

}

.form-control {
  max-width: 500px;
}

@media screen and (max-width: 650px) {
  .mainDiv{
    margin: 30px 50px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#grayUrl {
  display: inline; font-size: 14px; color: gray;
  text-decoration: underline  ;
}

#carouselExampleControls {
  width: 700px;
  margin: 30px auto;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
@media screen and (max-width: 500px) {
  #carouselExampleControls {
    width: 320px;
    margin: 30px auto;
  }
}
.intro {
  text-align: center;
  margin-bottom: 50px;
}

.inlineBlock {
  display: inline-block;
}

.grayText {
  color: rgba(0,0,0,0.6)
}

.grayRedText{
  color: rgba(0,0,0,0.6)
}

.answerDiv {
  margin-left:20px;
}

.loadingDiv {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  left: 0px;
  display: none;
  margin: 0px;
  padding: 0px;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 1000;
}
.loadingDiv img {
  border-color: gray;
  border-top-color: white;
  width: 10em;
  margin-top: 200px;
}
.loadingDiv h4 {
  color: white;
  margin: 20px 0px;

}

#timeLeftDiv {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  float: right;
  right: -10px;
  padding: 10px;
}

.examAnswers {
  user-select: none;
}