.mainDiv {
  margin: 50px 100px;

}

@media screen and (max-width: 650px) {
  .mainDiv{
    margin: 30px 50px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#grayUrl {
  display: inline; font-size: 14px; color: gray;
  text-decoration: underline  ;
}

#carouselExampleControls {
  width: 700px;
  margin: 30px auto;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
@media screen and (max-width: 750px) {
  #carouselExampleControls {
    width: 450px;
  }
}
.intro {
  text-align: center;
  margin-bottom: 50px;
}