.brand-name{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 4rem;
    margin-bottom: 10px;


}

#infoline{

    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}



.mainDiv {
    margin: 100px 100px;
    text-align: center;

  }

  @media screen and (max-width: 650px) {
    .mainDiv{
      margin: 50px 50px;
    }
}

 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 /* Firefox */
 input[type=number] {
   -moz-appearance: textfield;
 }



/* Buttons */

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #1ea5d6 5%, #408c99 100%);
	background-color:#1ea5d6;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	font-weight:bold;
	padding:12px 19px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin-right: 10px;
    margin-top: 15px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #1ea5d6 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

