{% extends 'components/base.html' %}

{% block body %}
<body>
  <div class="mainDiv">
    <h2>Class Attendance</h2>
    <h4>Enter Classroom ID or choose from previous meetings to check their attendance.</h4>
    {% include 'components/flashMessage.html' %}
    <form style="margin-top: 20px;" action="/attendance/check/" style="margin: auto;" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Classroom ID</label>
        <input style="max-width: 500px;" type="number" class="form-control" name="classroomId" id="classroomId" aria-describedby="emailHelp" placeholder="Enter Enrollment No">
      </div> 
      <button type="submit" class="btn btn-primary">Check</button>
    </form>
    
    </div>
</body>
{% endblock %}