{% extends 'base.html' %}

{% block body %}
<body>
<div class="mainDiv">
  <h2>JIIT Classroom</h2>
  <h4>Enter your details below to Login and Create a meeting</h4>
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
  <form style="margin-top: 20px;" action="/create/" style="margin: auto;" method="POST">
    <div class="form-group">
      <label for="facultyId">Faculty ID</label>
      <input style="max-width: 500px;" type="email" class="form-control" required name="facultyId" id="facultyId" aria-describedby="emailHelp" placeholder="Enter Faculty ID">
    </div> 
    <div class="form-group">
      <label for="facultyPassword">Password</label>
      <input style="max-width: 500px;" type="password" class="form-control" required name="facultyPassword" id="facultyPassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>

    <a id="grayUrl" type="button"  data-toggle="modal" data-target="#exampleModal" >Don't have a Faculty account?</a>


    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">JIIT Classroom Faculty Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        To get create an account on JIIT Classroom, please email your details <a href="mailto:kbhutani0001@gmail.com?Subject=JIIT%20Faculty%20Account%20Invite" target="_top">kbhutani0001@gmail.com</a> or drop a message on <a href="https://wa.me/918802999631?text=Hello%20Kartikay%2C%20I%20am%20a%20Faculty%20of%20JIIT-128%20and%20I%20want%20invite%20link%20to%20Create%20an%20account%20on%20JIIT%20Classroom.%20Here%20are%20my%20details">Whatsapp</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  </form>
</div>

</body>
{% endblock %}