{% extends 'components/base.html' %}

{% block body %}
<body>  
  <div class="mainDiv">
  <h2>Create Test Coming Soon!</h2>
  <h6>This feature will help teachers to create online Tests</h6>
  <p>As suggested by UGC, and many colleges like IIIT Hyderabad, DTU, IGDTU, Amity, etc have decided to take examinations online and prepared their own sites for the same ( Example: <span><a href=" http://e-exam.igdtuw.ac.in/exam/" target="_blank"> http://e-exam.igdtuw.ac.in/exam/</a></span>)</p>
  <p>This feature aims to provide teachers a platform to take secured online tests/Quiz for internal marking.</p>
  <ul>
    <li>Students can only Log in through Webkiosk</li>
    <li>Students can only start test after time decided by teacher</li>
    <li>Random questions to avoid cheating (For example there is a quiz of 10 questions, teachers can submit 20 questions so that each student get randomly different questions)</li>
  </ul>
  </div>
</body>
{% endblock %}