{% extends 'components/base.html' %}

{% block body %}
<body>
  <div class="mainDiv">
    <h2>Exams Dashboard</h2>
    <h6>Check Exams created by you. How many students attempted it and check results</h6>
    <br>
    {% include 'components/flashMessage.html' %}

    <div id="inviteForTest">
        <div class="alert alert-success" role="alert"> Exam Generated Successfully
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div>
                <p style="margin-top: 20px;">Exam Invite Link</p>
                <input value="https://jiitclassroom.herokuapp.com/join/test/"  style="display: inline;" placeholder="Exam ID" class="form-control"  type="text" name="meetingUrl" id="meetingUrl" >
                <button style="margin: 0px 10px;" class="btn btn-secondary" onclick="copyToClipboard(2)">Copy</button>
            </div>
            </div>
            <script>
                url = window.location.href
                urlObject = new URL(url)
                examId = urlObject.searchParams.get("examId")
                if (examId != null){
                    document.getElementById("meetingUrl").value += `${examId}/`
                }
                else {
                    document.getElementById("inviteForTest").remove()
                }
            </script>
    </div>
    <br>
    <div>
        <table class = "table table-striped" >
            <thead>
                <tr>
                    <th scope = 'col'>Exam ID</th>
                    <th scope = 'col'>Title</th>
                    <th scope = 'col'>Exam Date</th>
                    <th scope = 'col'>Results</th>
                </tr>
            </thead>
            <tbody>
                {% for exam in examTable %}
                <tr>
                    <td>{{ exam["examId"] }}
                        <a href='/preview/exam/{{exam["examId"] }}'> Preview Exam</a>
                    </td>
                    <td>{{ exam["examName"] }}</td>
                    <td>{{ exam["examDate"] }}</td>
                    <td>Given By: {{ exam["givenBy"] }}
                    {% if exam["givenBy"] != 0 %}
                     <a href='/check/exams/results/{{ exam["examId"] }}'> Check Results</a>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>    
    </div>
</body>
{% endblock %}