<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JIIT Classroom</title>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='Css/style.css')}}">


  
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">JIIT Classroom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="/create">Create Class</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/join">Join Class</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/attendance">Attendance</a>
          </li>

      </ul>
    </div>
  </nav>


  <div class="mainDiv">
    <h2>Create Faculty Account</h2>
    
    <h4>Enter your details below to Create a faculty account
      <br>
      <h6>Invite Code: {{inviteCode}}</h6>
    </h4>
    <div>
      
      
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
  <form style="margin-top: 20px;" action="/signup/faculty/{{inviteCode}}" style="margin: auto;" method="POST">
    <div class="form-group">
      <label for="facultyId">Email ID</label>
      <input style="max-width: 500px;" type="email" class="form-control" required name="facultyId" id="facultyId" aria-describedby="emailHelp" placeholder="Enter Email ID">
    </div> 
    <div class="form-group">
      <label for="facultyPassword">Password</label>
      <input style="max-width: 500px;" type="password" class="form-control" required name="facultyPassword" id="facultyPassword" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="facultyPassword2">Re-type Password</label>
      <input style="max-width: 500px;" type="password" class="form-control" required name="facultyPassword2" id="facultyPassword2" placeholder="Retype Password">
    </div>
    <script>
      function validateSignup(){
        if(document.getElementById('facultyPassword').value!=document.getElementById('facultyPassword2').value){
          alert('Please enter same password again')
          event.preventDefault()

        }
      }

    </script>
    <button onclick="validateSignup()" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>