{% extends 'components/base.html' %}

{% block body %}
<body>
  <div class="intro">
<div class="mainDiv">
  {% include 'components/flashMessage.html' %}
  <h2>JIIT Classroom</h2>
  <h4>Online classes made easy for JIIT-128 Students</h4>
  <h6>Easy, Reliable and Secure video communication for your zoom meetings</h6>
</div>

{% include 'components/carousel.html' %}

<a href="/create" class="btn btn-primary">Create Class</a>
<a href="/join" class="btn btn-primary"  >Join Class</a>
</div>
</body>
{% endblock %}


