{% extends 'base.html' %}

{% block body %}
<body>
  <div class="mainDiv">
    <h2>JIIT Classroom</h2>
    <h4>Enter JIIT Classroom Number to join the class</h4>
    <div class="form-group">
      <label for="exampleInputEmail1">Class room Number</label>
      <input type="number" class="form-control" name="classroomNumber" id="classroomNumber" aria-describedby="emailHelp" placeholder="Enter Classroom Number">
    </div>
    <button onclick="redirectToClass()" type="button" class="btn btn-primary">Join Class</button>
  </div>
</body>
{% endblock %}