{% extends 'components/base.html' %}

{% block body %}
<script src="{{ url_for('static',filename='js/exam.js')}}"></script>
<body>  
  <div class="mainDiv">
    <h4>Test ID: 123456789 <br>
      Test Name: Data Structures and Algorithim Quiz<br>
      Subject Code: 1511ABCD
    </h4>
    <br>
    <div id="examQuestions">
    </div>
  <button class="btn btn-secondary" onclick="addQuestion()">Add question</button>
  <button style="display: none;" id="createTestBtn" class="btn btn-primary" onclick="createTest()">Create Test</button>
  </div>
</body>
{% endblock %}