{% extends 'components/base.jinja' %}

{% block body %}
<body>
  <div class="mainDiv">
    <h2>Monitor Students</h2>
    <h4>Exam ID - {{ examId }}</h4>
    
    <div id="videomonitor" style="height: 750px;"></div>

  <script src='https://meet.jit.si/external_api.js'></script>
  <div id="backgroundColor">
    <script>
      roomName = 'jiitclassroom_{{ examId }}'
      const domain = 'meet.jit.si';
      const options = {
      roomName: roomName,
    //   width: '0px',
      height: '80%',
      parentNode: document.querySelector('#videomonitor'),
      configOverwrite: { startWithAudioMuted: false,disableDeepLinking: true, enableNoAudioDetection: false, enableNoisyMicDetection: false, startSilent: false },
      interfaceConfigOverwrite: { filmStripOnly: false , MOBILE_APP_PROMO: false, },
      };
      const api = new JitsiMeetExternalAPI(domain, options);
      try {
        api.executeCommand('displayName', '{{ studentName }}');
      } catch (error) {
        console.log("error")
      }

      document.getElementById("backgroundColor").remove()
    </script>
  </div>


  </div>
</body>
{% endblock %}