{% extends 'components/base.html' %}

{% block body %}

<body>  
  <div class="mainDiv">
    <form action="/joint/test/submit/" method="POST">
      <input type="number" value="{{ rollNo }}" hidden name="rollNo" id="rollNo">
      <input type="text" value="{{ studentName }}" hidden name="studentName" name="studentName">
    {% for question in examData['exam'] %}
        <b>Question: </b> {{ examData['exam'][question]['question'] }}
        <br>
        <b>Answer: </b> <br>

        {% for answer in  examData['exam'][question]['answers'] %}
        <input type="radio" value="{{ answer[0] }}" name="{{ question }}" id="{{ question }}"> {{ answer[0] }}   <br>
        {% endfor %}
        <br><br>
    {% endfor %}
    <button class="btn btn-primary" type="Submit">Submit Test</button>
  </form>
  </div>
</body>

{% endblock %}