{% extends 'components/base.html' %}

{% block body %}
<body>
  <div class="mainDiv">
    <h2>Join Class</h2>
    <h4>Enter your webkiosk details to log in</h4>
    <div>
      <h6>NOTE: Remember that your meeting name is automatically set to <b><mark>EnrollmentNo_YourName</mark></b> and cannot be changed, any nuisance in meeting can result in strict action against you.</h6>
      
    {% include 'components/flashMessage.html' %}
      
    </div>
  <form style="margin-top: 20px;" action="{{postUrl}}" style="margin: auto;" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Enrollment No.</label>
      <input style="max-width: 500px;" type="number" class="form-control" name="rollNo" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Enrollment No">
    </div> 
    <div class="form-group">
      <label for="exampleInputEmail1">Date of Birth (dd-mm-yyyy)</label>
      <input style="max-width: 500px;" type="text" class="form-control IP_calendar" name="dob" id="dob" aria-describedby="emailHelp" title="d/m/Y" placeholder="Enter Date of Birth (DD/MM/YYYY)" value="01-01-2000">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Webkiosk Password</label>
      <input style="max-width: 500px;" type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
    </div>
    
    <div style="display: none;" class="form-group">
      <label for="currentTime">Time</label>
      <input style="max-width: 500px;" type="text" class="form-control" name="currentTime" id="currentTime" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
<script>
  d = new Date();
  var hours = d.getHours();
  str ='AM'
  if(hours>=12){
    str='PM'
  }
  hours = ((hours + 11) % 12 + 1);
  var min = d.getMinutes();
  document.getElementById('currentTime').value = `${hours}: ${min} ${str}`  
</script>
</body>

{% endblock %}