<div class="loadingDiv">
    <img class="loadingIcon" src="{{ url_for('static',filename='img/loading.svg')}}" alt="">
    <h4>Creating Test...</h4>
    <button class="btn btn-danger" onclick="hideLoading()">Cancel</button>
</div>